@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=Source+Sans+Pro:ital,wght@1,200&display=swap');

#root {
  min-width: 250px;

  text-align: center;
}

.header {
  height: 8vh;
  display: flex;
  justify-content: center;
  column-gap: 4rem;
  align-items: center;
  border-bottom: 4px solid rgb(94, 84, 19);
  margin-top: 0rem;
  background-color: rgb(202, 179, 31);
}

.nav {
  font-family: 'Cinzel';
  color: rgb(40, 34, 2);
  letter-spacing: 0.1em;
  transition: all 0.5s ease-in-out;
  font-size: larger;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  text-decoration: none;
  padding: 0.5em;
}

.nav:hover {
  background-color: rgba(124, 111, 25, 0.368);
  border-radius: 30%;
}

.filter {
  margin-bottom: 2em;
}
.box {
  padding: 2em;
}

.sectionPlatos {
 
  
}

.liPlatos {
  /* border: 2px solid rgba(75, 66, 7, 0.623); */
   padding: 1em;
   margin-top: 1em;
}
.namePlatos {
margin: 1em;
height: 4em;
}

.imgPlatos {
}
.h2Platos {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 400;
  font-size: 1.2em;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
